@import '../common';

.crud-table {
  margin: 32px 0;
  background: white;
  width: 100%;
  @include panel-shadow;
}

.crud-table > thead,
.crud-table > body {
  > tr > td {
  }
}

// Lines
.crud-table > * > tr + tr {
  > td,
  > th {
    box-shadow: inset 0 1px $line-color;
  }
}

// TD's
.crud-table > * > tr > td {
  & {
    padding: 8px 16px;
  }

  &.icon {
    background: $dark;
    width: 64px;
    height: 64px;
    padding: 0;
  }

  &.right,
  &.actions {
    @include font-size(-1);
    color: $primary;
    text-align: right;
  }

  &.name,
  &.name > a {
    color: $black;
  }

  &.name > a:visited {
    color: mix($black, $gray-text, 50%);
  }

  &.name > .info {
    margin-left: 0;
    @include font-size(-1);
    color: $gray-text;

    &:before {
      content: "·";
      margin: 0 .4em;
    }
  }
}
