@import '../common';

.panel-heading {
  margin: 32px 0 -16px 0;
  padding: 0;
  white-space: nowrap;
  display: flex;

  &,
  > h2,
  > .action {
    height: 32px;
    line-height: 32px;
  }

  > h2 {
    flex: 1 1 auto;
    font-size: 1em;
    margin: 0;
    padding: 0;
    float: left;
    color: $primary;
    white-space: nowrap;
    overflow: hidden;
  }

  > h2::after {
    display: inline-block;
    content: "";
    width: 1100px;
    height: 1px;
    background: $primary;
    margin-left: 12px;
    opacity: .25;
    position: relative;
    top: -3px;
  }

  > .action {
    flex: 1 1 auto;
    text-align: right;
    margin-left: 16px;
  }
}
