@import '../common';

.top-links {
  &,
  > li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  > li {
    display: inline-block;
  }

  // Each link
  > li > a {
    display: inline-block;
    @include font-size(-1);
    &, &:visited {
      color: $primary;
    }
  }

  > li > a:hover,
  > li > a:focus {
    color: $primary-light;
  }

  > li.-active > a,
  > li > a.-active {
    &, &:visited {
      color: white;
      font-weight: bold;
    }
  }

  // Subsequent links
  > li + li > a {
    margin-left: 16px;
  }
}
