extends ../../layouts/base.jade
block body
  .top-nav
    .container
      .left
      .center
        a.brand(href="/") Hello
      .right

  .primary-heading
    .container
      .left
        ul.back-crumbs
          li.-home
            a(href="/")
          li
            a(href="/") Shops
      .center
        h1.primary-title
          | Components

  .secondary-nav
    .container
      ul.secondary-links
        li.-active
          a(href="/") Home
        li
          a(href="/") Categories
        li
          a(href="/") Orders
        li
          a(href="/") Products
