extends ../../layouts/base.jade
block body
  .top-nav
    .container
      .left
      .center
        a.brand(href="/") Hello
      .right

  .primary-heading
    .container
      .left
        ul.back-crumbs
          li.-home
            a(href="/")
          li
            a(href="/") Shops
      .center
        h1.primary-title
          | Components

  .secondary-nav
    .container
      .center
        ul.secondary-links
          li.-active
            a(href="/") Home
          li
            a(href="/") Categories
          li
            a(href="/") Orders
          li
            a(href="/") Products

  .inset-bg
    .container
      table.crud-table
        each x in [1, 2, 3]
          tr
            td.icon
            td.name
              | Glazed donuts
            td.actions.crud-actions
              span.info 2 items, 0kb
              a.btn(href="") Edit
              .dropdown.more-actions
                button.toggle(data-toggle="dropdown" title="More actions...")
                ul.dropdown-menu
                  li
                    a(href="") Show
                  li
                    a(href="") Edit
                  li
                    a(href="") Delete

      p.text-center(style="padding: 400px")
        | Hello there.
