@import '../common';

.btn {
  border-radius: 2px;
  transition: all 150ms ease-out;
}

.btn:hover,
.btn:focus {
  transition: none;
}

/*
 * Small
 */

.btn-sm {
  @include font-size(-1);
}

/*
 * Default
 */

.btn-default {
  background-color: white;
  border-color: rgba($primary, .5);

  &,
  &:visited {
    color: $primary;
  }

  &:hover,
  &:focus {
    background-color: mix($primary, white, 10%);
    border-color: rgba($primary, .75);
    color: $primary-dark;
  }

  &:active {
    background-color: $accent;
    border-color: $accent;
    color: white;
  }
}

/*
 * Link
 */

.btn-link {
  padding: 0;
  color: $primary-dark;

  &:visited {
    color: $primary;
  }

  &:hover,
  &:focus {
    color: $primary-darker;
  }

  &:active {
    color: $accent;
  }
}

/*
 * Accent
 */

.btn-accent {
  background-color: white;
  border-color: rgba($accent, .5);

  &,
  &:visited {
    color: $accent;
  }

  &:hover,
  &:focus {
    background-color: $accent;
    border-color: $accent;
    color: white;
  }

  &:active {
    background-color: $accent-dark;
    border-color: $accent-dark;
    color: white;
  }
}

/*
 * Accent
 */

.btn-highlight {
  background-color: $accent;
  border-color: transparent;

  &,
  &:visited {
    color: white;
  }

  &:hover,
  &:focus {
    background-color: $accent-dark;
    border-color: $accent-dark;
    color: white;
  }

  &:active {
    background-color: $accent-darker;
    border-color: $accent-darker;
    color: white;
  }
}

/*
 * Accent link
 */

.btn-accent-link {
  padding: 0;
  color: $accent;

  &:visited {
    color: $accent;
  }

  &:hover,
  &:focus {
    color: $accent-dark;
  }

  &:active {
    color: $accent-darker;
  }
}

/*
 * Aux button
 */

.btn-aux {
  background-color: transparent;
  border-color: rgba($primary, .5);

  &,
  &:visited {
    color: $primary-light;
  }

  &:hover,
  &:focus {
    background-color: $accent-dark;
    border-color: $accent-dark;
    color: white;
  }

  &:active {
    background-color: $accent-darker;
    border-color: $accent-darker;
    color: white;
  }
}
