@import '../common';

/*
 * Fixes bootstrap peculiarities
 */

.dropdown-menu {
  > li > form {
    display: inline;
  }

  > li > form > a {
    display: block;
    padding: 3px 20px;
    text-decoration: none;

    &:hover,
    &:focus {
      background: $inset-bg;
    }
  }
}

/*
 * Styles
 */

.dropdown-menu {
  border: 0;
  border-radius: 2px;
  padding: 8px 0;
  @include panel-shadow;

  > li > a,
  > li > form > a {
    padding: 3px 16px;
    color: $gray-text;

    &:hover,
    &:focus {
      background: $primary;
      color: white;
    }
  }
}
