@import '../common';

.primary-heading {
  background: white;
  height: 60px;
  line-height: 60px;
  box-shadow: 0 1px rgba($primary, .2);
}

.primary-heading > .container {
  white-space: nowrap;
  @include has-lrc(60px);
}

.primary-title {
  margin: 0;
  padding: 0;
  @include font-size(2);
  color: $black;
  font-weight: bold;
  display: inline-block;
}
