@import '../common';

.secondary-nav {
  background: white;
  box-shadow: 0 1px rgba($primary, .2);

  position: relative;
  z-index: 1;
}

.secondary-nav > .container {
  @include has-lrc(48px, $background: transparent);
}

// Separator before primary-heading
.primary-heading + .secondary-nav {
  > .container::before {
    content: '';
    display: block;
    height: 1px;
    background: $line-color;
  }
}

.secondary-links {
  &,
  > li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  & {
    text-align: center;
  }

  > li,
  > li > a {
    display: inline-block;
  }

  // Each link
  > li > a {
    height: 48px;
    line-height: 48px;
    white-space: nowrap;
    margin: 0 16px;
  }

  // Caps
  > li:first-child > a {
    margin-left: 0;
  }

  > li:last-child > a {
    margin-right: 0;
  }

  // Hover
  > li > a:focus,
  > li > a:hover {
    text-decoration: none;
    color: $primary-darker;
  }

  // Active
  > li.-active > a,
  > li > a.-active {
    color: $accent;
    box-shadow: 0 1px $accent;
  }
}
