extends ../layouts/base.jade
block body
  .top-nav
    .container
      .left
      .center
        a.brand(href="/") Hello
      .right

  .primary-heading
    .container
      .left
        ul.back-crumbs
          li.-home
            a(href="/")
          li
            a(href="/") Theme
      .center
        h1.primary-title
          span Examples
          small Components

  .secondary-nav
    .container
      .center
        ul.secondary-links
          li.-active
            a(href="/") Home
          li
            a(href="/") Categories
          li
            a(href="/") Orders
          li
            a(href="/") Products

  .inset-bg
    .container
      .panel-heading
        h2
          | List of products
        .action
          a.btn.btn-sm.btn-accent Add new

      table.crud-table
        each n in [0, 1, 2]
          tr
            td.icon
              img(src='https://unsplash.it/64/64?image=' + [400, 500, 600][n])
            td.name
              = ["Bourke Street", "Little Collins", "Elizabeth Lane"][n]
            td.actions.crud-actions
              span.info 2 items, 0kb
              a.btn(href="") Edit
              .dropdown.more-actions
                button.toggle(data-toggle="dropdown" title="More actions...")
                ul.dropdown-menu
                  li
                    a(href="") Show
                  li
                    a(href="") Edit
                  li
                    a(href="") Delete

      .panel-heading
        h2
          | Basic panel

      .basic-panel
        h2 Second-level heading
        p Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver.
        h3 Third-level heading
        p Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver.

      p.text-center(style="padding: 400px")
        | Hello there.
