@import '../common';

/*
 * Fonts
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@include ion-font;

/*
 * Antialias
 */

html, body {
  @include antialias;
}

/*
 * Basic text
 */

h1 { @include font-size(5); }
h2 { @include font-size(4); }
h3 { @include font-size(3); }
h4 { @include font-size(2); }

h1,
h2,
h3,
h4,
h5,
h6 { color: $black; }

a {
  color: $primary;
}

a:visited {
  color: $primary-light;
}

a:hover,
a:focus {
  color: $primary-dark;
  text-decoration: none;
}

a:active {
  color: $accent;
}
